PyQt5==5.13.2
PyOpenGL==3.1.0
QtPy==1.9.0
numpy==1.17.4
scipy==1.4.1
pandas==0.25.3
h5py==2.10.0
tables==3.6.1
dxfgrabber==1.0.0
colour==0.1.5
meshcut==0.2.1
pytest==5.2.4
pytest-cov==2.8.1
freetype-py==2.2.0
